#ez-editor table {
    width: 80vw;
    margin: auto;
    table-layout: fixed;
}

#ez-editor table :is(th, td) {
    border: 2px solid var(--table-border-color) !important;
    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden;
}

#ez-editor thead th {
    text-align: center;
    padding: 1em;
}

#ez-editor thead tr {
    background-color: var(--block-background-fill);
}

#ez-editor tbody td {
    padding: 1em;
}

#ez-editor tbody tr:nth-child(odd) {
    background-color: var(--table-odd-background-fill);
}

#ez-editor tbody tr:nth-child(even) {
    background-color: var(--table-even-background-fill);
}

.ez-tag-container div.style-bracket {
    background: var(--input-background-fill);
    border-radius: 0.5em;
    padding: 0.25em;
    margin: 0.5em;
    position: relative;
    overflow: hidden;
    display: block;
}

@supports(selector(:has(div))) {
    .ez-tag-container div.style-bracket {
        display: none;
    }

    .ez-tag-container div.style-bracket:has(> div > :not(.hidden)) {
        display: block;
    }
}

.ez-tag-container div.style-bracket>span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    color: var(--block-title-text-color);
    pointer-events: none;
    user-select: none;
    white-space: nowrap;
    z-index: 10;
    opacity: 0.25;
}

.ez-tag-container div.style-bracket:hover>span {
    z-index: unset;
    opacity: 0.1;
}
