.ez-tag-container .extra-network-cards {
    padding: 1em;
    user-select: none;
}

.ez-tag-container .card {
    background-image: linear-gradient(90deg, var(--button-secondary-background-fill), var(--button-primary-background-fill));
    background-size: 101%;
    height: 3em;
    width: calc(10% - 1.5em);
    min-width: 6em;
    margin: 0.75em;
}

.ez-tag-container .card .actions {
    background: none;
    box-shadow: none;
    position: inherit;
    width: 100%;
    height: 100%;
}

.ez-tag-container .card .actions .name {
    display: inline-flex;
    position: relative;
    align-items: center;
    width: 90%;
    height: 100%;
    left: 1.2em;
    font-size: 1em;
    overflow: hidden;
    white-space: nowrap;
}

.ez-tag-container .card .button-row {
    display: none
}

.ez-tag-container .card .actions .additional {
    display: none;
}

.ez-tag-container .card .actions .description {
    display: none;
}

#ez-editor table {
    width: 80vw;
    margin: auto;
    table-layout: fixed;
}

#ez-editor table :is(th, td) {
    border: 2px solid var(--table-border-color) !important;
    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden;
}

#ez-editor thead th {
    text-align: center;
    padding: 1em;
}

#ez-editor thead tr {
    background-color: var(--block-background-fill);
}

#ez-editor tbody td {
    padding: 1em;
}

#ez-editor tbody tr:nth-child(odd) {
    background-color: var(--table-odd-background-fill);
}

#ez-editor tbody tr:nth-child(even) {
    background-color: var(--table-even-background-fill);
}

.ez-tag-container div.style-bracket {
    background: var(--input-background-fill);
    border-radius: 0.5em;
    padding: 0.5em;
    margin: 1em 0em;
}

.ez-tag-container div.style-bracket>span {
    display: block;
    width: calc(100% - 1em);
    background: var(--input-border-color);
    border-radius: 0.2rem;
    padding: 0em 0.5em;
    margin: 0.5em;
    text-shadow: black 1px 1px 2px;
    font-weight: bold;
}
