#txt2img_easy_tag_insert_cards_html .name {
    display: inline-flex;
    position: relative;
    align-items: center;
    width: 100%;
    height: 100%;
    left: 20%;
    font-size: 1em;
    overflow: hidden;
    white-space: nowrap;
}

#txt2img_easy_tag_insert_cards_html .actions {
    background: none;
    box-shadow: none;
    position: inherit;
    width: 100%;
    height: 100%;
}

#txt2img_easy_tag_insert_cards_html .button-row {
    right: auto;
    position: relative;
    bottom: -50%;
}

#txt2img_easy_tag_insert_cards_html .card-button {
    height: 1em;
    width: 1em;
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
}

#img2img_easy_tag_insert_cards_html .name {
    display: inline-flex;
    position: relative;
    align-items: center;
    width: 100%;
    height: 100%;
    left: 20%;
    font-size: 1em;
    overflow: hidden;
    white-space: nowrap;
}

#img2img_easy_tag_insert_cards_html .actions {
    background: none;
    box-shadow: none;
    position: inherit;
    width: 100%;
    height: 100%;
}

#img2img_easy_tag_insert_cards_html .button-row {
    right: auto;
    position: relative;
    bottom: -50%;
}

#img2img_easy_tag_insert_cards_html .card-button {
    height: 1em;
    width: 1em;
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
}
